* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: Helvetica, Arial;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 50px 0;
}

header {
  text-align: center;
  margin: 50px;
}

.site-container {
  border: 2px solid black;
  min-height: 900px;
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.site-container div {
  border: 2px solid black;
  width: 400px;
  margin: 20px auto;
  height: 400px;
}

.site-picture {
  /*Photo by Kelly Sikkema on Unsplash */
  background: url('./soon.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-picture p {
  text-shadow: 1px 1px gray;
}

.site-info {
  /* text-align: center; */
  display: flex;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.site-info p {
  padding: 20px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 40%;
  width: 20%;
  text-align: center;
}

@media only screen and (max-width: 1000px) {
  .site-container div {
    border: 2px solid black;
    width: 250px;
    margin: 20px auto;
    height: 250px;
  }
  .site-info {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 600px) {
  .site-container {
    grid-template-columns: 1fr;
  }
}
